<html>
	<head>
		<title>CS:GO Skin Screenshot</title>
		<script src="jquery-1.11.3.min.js"></script>
	</head>
	
	<body>
		<div id="imageDiv"></div>
		<script>
			function loadImage() {
				var url = "/image/{{weapon}}?paint={{paint}}&float={{float}}&seed={{seed}}&view={{view}}&date=" + new Date().getTime();
				$.get(url, function(data, textStatus, xhr) {
					if (xhr.status == 200) {
						$('<img src="' + url + '">').load(function() {
							$(this).appendTo('#imageDiv');
						});
					} else if (xhr.status == 202) {
						setTimeout(loadImage, 1000);
					}
				});
			}

			loadImage();
		</script>
	</body>
</html>
