<html>
	<head>
		<title>CS:GO Skin Screenshot</title>
		<script src="/jquery-1.11.3.min.js"></script>
	</head>

	<body>
		<div id="inventory">
			<ul>
				{% for weapon in weapons %}
					<li>
						<div>{{ weapon.class }}</div>
						<div>{{ weapon.paint }}</div>
						<div>{{ weapon.seed }}</div>
						<div>{{ weapon.wear }}</div>
						<div><a href="/image/{{ weapon.class }}?paint={{ weapon.paint }}&float={{ weapon.wear }}&seed={{ weapon.seed }}&view=playside">playside</a></div>
						<div><a href="/image/{{ weapon.class }}?paint={{ weapon.paint }}&float={{ weapon.wear }}&seed={{ weapon.seed }}&view=inspect">inspect</a></div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
